# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @kirgene @mdebarros @elnyry-sam-k @lewisdaly @bushjames @kleyow
# will be requested for review when someone opens a pull request.

*   @kirgene @elnyry-sam-k @lewisdaly @bushjames @kleyow @mdebarros
